<!DOCTYPE html>
<html>
<head>
  <title>List Page</title>
</head>
<body>
  <ul>
    <% arrayOfItems.forEach( item => { %>
      <li><%= item %></li>
    <% }) %>
  </ul>
</body>
</html>

<!-- Only wrap the ejs components -->